<div class="contianer-form">


    <div mat-dialog-title>
        <h1 class="textcenter"> Employee Form</h1>
    </div>
    <form [formGroup]="Form " (ngSubmit)="FormSumbit()">
        <div mat-dialog-content>

            <div class="twoinputs">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="ex : yassin Bozuagrrou" formControlName="firstname">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="ex : Bozuagrrou" formControlName="lastname" type="text">
                </mat-form-field>
            </div>

            <div class="twoinputs">
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="number" placeholder="+216 52148482" formControlName="number">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="ex :yassin@gmail.com" type="email" formControlName="email">
                </mat-form-field>
            </div>



            <div class="twoinputs">
                <mat-form-field>
                    <mat-label>address</mat-label>
                    <input matInput type="text" placeholder="tue mohaed Salah" formControlName="address">

                </mat-form-field>
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city">

                        <mat-option *ngFor="let city of tunisianCities  " [value]="city">{{city}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <mat-form-field>
                <mat-label>Date of birthday</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirthday" max="2018-12-31">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div mat-dialog-actions style="display: flex; justify-content: center; gap: 20px;">
                <button mat-raised-button type="button" (click)="CloseModel()">Cancel</button>
                <button mat-raised-button color="primary" type="submit">{{data ? "udpate customer" : "add  customer"}}</button>
            </div>

        </div>
    </form>