
<p>
    <mat-toolbar color="primary">
      <div> 
        
      </div>
  
      <mat-icon>person</mat-icon>
      <span>Management Dashboard</span>
      <span class="example-spacer"></span>
   
      <button class="button" mat-raised-button color (click)="openModule()" > 
        <mat-icon>add</mat-icon>
       ADD    CUSTOMER
      </button>
    </mat-toolbar>
  </p>
  <div class="input-c">
    <mat-form-field class="filter-input"  appearance="fill">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Search by Name" #input (input)="applyFilter(input.value)">
      <button mat-icon-button matSuffix>
        <mat-icon aria-label="Search">search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="table"> 
  <table mat-table [dataSource]="dataSource" class="color-row" class="mat-elevation-z8 demo-table">
  
    <ng-container matColumnDef="id"  >
      <th mat-header-cell *matHeaderCellDef  > ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
  
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef class="color-row" >first Name</th>
      <td mat-cell *matCellDef="let element">{{element.firstname}}</td>
    </ng-container>
  
  
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>las tname</th>
      <td mat-cell *matCellDef="let element">{{element.lastname}}</td>
    </ng-container>
  
  
  
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>Phone number</th>
      <td mat-cell *matCellDef="let element">{{element.number}}</td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>
  
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>city</th>
      <td mat-cell *matCellDef="let element">{{element.city}}</td>
    </ng-container>
  
    <ng-container matColumnDef="dateOfBirthday">
      <th mat-header-cell *matHeaderCellDef>dateOfBirdhday</th>
      <td mat-cell *matCellDef="let element">{{element.dateOfBirthday | date | uppercase }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>address</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>
  
  
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div style=" margin-left: -20px;"> 
          <button mat-icon-button (click)="editCustomer(element)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCustomer(element.id)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
       
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
  
  
  </table>
  </div>
  
  