.example-spacer {
    flex: 1 1 auto;
  }
  .input-c {
    text-align: center;
  }
  
  .filter-input {
    width: 30%;
  }
  
  .mat-icon-button {
    background-color: #ffffff;
    color: #757575;
    border-radius: 0 4px 4px 0;
  }
  
  .mat-icon-button:hover {
    background-color: #f2f2f2;
  }
  .button {
    border-radius: 10px;
    padding: 10px;
  }
  
  .table {
    margin: 0 auto;
    width: 90%;
  }
  
  .color-row {
    background-color: red;
  }
  